includes:
	- ../../vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method SoapClient::loginCms\(\).#'
        - '#json_decode expects string, string\|false given#'
        - '#Only booleans are allowed in a negated boolean#'
        # refactoring required
        - '#expects resource, resource\|false#'
        - '#empty\(\) is not allowed. Use more strict comparison.#'
        - '#Call to an undefined method .*Wsmtxca\:\:#'
        - '#call to static method .*\\Validator#'
        - '#Variable property access on mixed#'
        - '#Access to an undefined property .*\\Wsaa::\$#'
        - '#Call to an undefined method .*\\Wsaa::#'
        - '#Call to an undefined method SoapClient::#'
        - '#Parameter \#1 ...\$rule of static method Respect\\Validation\\Validator\:\:allOf\(\) expects#'
        - '#Cannot call method getMessage\(\) on stdClass.#'
