includes:
	- ../../vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    ignoreErrors:
        - '#Call to an undefined method SoapClient::loginCms\(\).#'
        - '#json_decode expects string, string\|false given#'
        - '#Only booleans are allowed in a negated boolean#'
        # refactoring required
        - '#expects resource, resource\|false#'
        - '#empty\(\) is not allowed. Use more strict comparison.#'
        - '#Call to an undefined method .*Wsmtxca\:\:#'
        - '#\\Validatable, array<int,#'
        - '#call to static method .*\\Validator#'
        - '#Variable property access on mixed#'
        - '#Access to an undefined property .*\\Wsaa::\$#'
        - '#Call to an undefined method .*\\Wsaa::#'
        # @todo BE-128
        - '#no typehint specified#'
        - '#has no return typehint#'
        - '#return type has no value type specified in iterable type array#'
